<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %}Viberrr{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">

<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle=" collapse" data-target="#topNavBar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'home:index' %}">Viberrr</a>
</div>

<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li class=" ">
<a href="{% url 'home:index' %}">
<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;Album</a>
</li>

<li class=" ">
<a href="">
<span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;Songs</a>
</li>
</ul>

<form class="navbar-form navbar-left" role="search" method="get" action=" ">
<div class="from-group">
<input type="text" class="form-control" name="q" value=" ">

<button type="submit" class="btn btn-default">Search</button>
</div></form>

<ul class="nav navbar-nav navbar-right">
<li class=" ">
<a href="{% url 'home:album-add' %}">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Album</a>
</li>

<li class=" ">
<a href="">
<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;LogOut</a>
</li>
</ul>

</div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>