{% extends 'home/base.html' %}

{% block body %}


    <ul>
             {% for album in all_albums %}
                 <li><a href="{% url 'home:detail' album.id %}">{{album.album_title}}</a></li>
                   <img src="{{album.album_logo.url}}">
                   <form action="{% url 'home:album-delete' album.id %}" method="post" style="display:inline;">
                     {% csrf_token %}
                    <button type="submit" class="btn-btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        </form>             
            
             {% endfor %}  
    </ul>



{% endblock %}